modules = ["nodejs-20", "web", "bash"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 40607213
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Backup"
author = 40607213
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash backup_project.sh"

[[workflows.workflow]]
name = "Deploy"
author = 40607213
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash deploy.sh"

[[workflows.workflow]]
name = "GitHub Sync"
author = 40607213
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config --global user.name \"Flavio de Morais\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git config --global user.email \"flaviodemorais@users.noreply.github.com\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add --all"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git status"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m \"Sincronização completa do projeto Aquaponia PI5, incluindo banco de dados e todas as alterações recentes\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push -f origin main"

[[workflows.workflow]]
name = "Testar Deploy"
author = 40607213
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash deploy.sh"

[[ports]]
localPort = 5000
externalPort = 80
